<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/28593ae8-8508-4057-ac07-eac984ddc3f7/resourceGroups/StarWarsEthan1_group/providers/Microsoft.Web/sites/StarWarsEthan1</ResourceId>
    <ResourceGroup>StarWarsEthan1_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://starwarsethan1-gefqg0hdb8gpcph8.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>928dc260-6b9a-43d7-9d0f-c6944b68b0cf</ProjectGuid>
    <PublishUrl>https://starwarsethan1-gefqg0hdb8gpcph8.scm.eastus-01.azurewebsites.net/</PublishUrl>
    <UserName>$StarWarsEthan1</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>